<footer>
  <div class="logoArea">
    <h1><img src="../static/img/sausage.png" />nado mukbang</h1>
  </div>
  <div class="rightArea">
    <ul>
      <li>대표 : 한초롱</li>
      <li>이메일 : hancrong@gmail.com</li>
      <li>주소 : 서울시 동작구 사당동</li>
      <li>전화 : 010-9270-0553</li>
    </ul>
  </div>
</footer>
