<nav class="main">
  <ul>
    <li class="logo"><a href="/">nado mukbang</a></li>
    <ul class="category">
      <li><a href="/menu_1">유튜버별</a></li>
      <li><a href="/menu_2">음식별</a></li>
      <li><a href="#">프로모션</a></li>
      <li><a href="#">문의하기</a></li>
    </ul>
  </ul>

  <a id="login" href="/login">Login</a>
  <ul class="categoryXs">
    <li id="navBTN">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </li>
    <ul class="navXsList">
      <li><a href="/menu_1">유튜버별</a></li>
      <li><a href="/menu_2">음식별</a></li>
      <li><a href="#">프로모션</a></li>
      <li><a href="#">문의하기</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </ul>
</nav>
