.menu_2 .whatSec1 {
  width: 100%;
  height: 400px;
  background: url("../img/loginBack.webp") no-repeat;
  background-size: cover;
}
.menu_2 .title {
  background-color: var(--main-color);
  min-width: 15px;
  width: 310px;
  font-weight: bold;
  font-size: 2.5rem;
  white-space: nowrap;
  position: relative;
  color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  box-shadow: 0px 3px 8px #d2930b;
}
.menu_2 .title::before {
  content: "뭘 따라 먹어 볼까?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 5s steps(31) infinite;
}
.menu_2 .whatSec2 {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
}
.menu_2 .whatSec2 .foodCategory {
  max-width: 600px;
  /* height: 100px; */
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.menu_2 .whatSec2 .foodCategory button {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background: rgb(25, 135, 84);
  background: linear-gradient(
    180deg,
    rgba(25, 135, 84, 1) 0%,
    rgba(238, 206, 1, 0.8) 100%
  );
  box-shadow: 0px 2px 3px var(--sub-green);
  margin: 1rem;
}
.menu_2 .whatSec2 .foodCategory button i {
  font-size: 2rem;
  color: #fff;
}
.menu_2 .whatSec2 .foodCategory button span {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.85rem;
  width: 100%;
  text-overflow: inherit;
}
.menu_2 .whatSec2 .foodCategory button:hover span {
  color: var(--sub-green);
  font-weight: bold;
}
.menu_2 .whatSec3 {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}
.cateTitle {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
.menu_2 .whatSec3 .row {
  margin: 0 auto;
  max-width: 900px;
  justify-content: space-around;
}
.menu_2 .whatSec3 .row .card {
  margin-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}
.menu_2 .whatSec3 .row .card img {
  --bs-card-spacer-y: 0;
  --bs-card-spacer-x: 0;
}
.menu_2 .whatSec3 .card-body p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.menu_2 .whatSec3 .card-body p:nth-child(2)::before {
  content: "";
  background: url("../img/store-solid.svg") no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  vertical-align: middle;
}
.menu_2 .whatSec3 .card-body p:nth-child(3)::before {
  content: "";
  background: url("../img/clipboard-list-solid.svg") no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  vertical-align: middle;
}
.menu_2 .whatSec3 .card-body p:nth-child(4)::before {
  content: "";
  background: url("../img/phone-solid.svg") no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  vertical-align: middle;
}
