.signup {
  background: url("../img/loginBack.webp") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.signupBox {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 80vh;
  background-color: var(--main-color);
  border-radius: 1rem;
}
.signup .logo {
  font-size: 3rem;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  border-radius: 100%;
  text-shadow: 0px 2px 3px var(--sub-color);
}
.signup .logo:hover {
  color: var(--sub-color);
  text-shadow: 0px 2px 3px #000;
}
.signup .inputArea {
  width: 250px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.signup .inputArea input {
  width: 100%;
  height: 45px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 21px;
  padding: 0 1rem;
}
.signup .inputArea input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}
.signup .inputArea span {
  margin-bottom: 0.2rem;
  display: inline-block;
  width: 100%;
  height: 20px;
  font-size: 0.8rem;
  text-indent: 0.5rem;
}
.signup .emailArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signup #userEmail {
  width: 72%;
  margin-bottom: 1rem;
}
.signup #userEmailCheckBtn {
  width: 25%;
  border-radius: 1rem;
  background-color: var(--sub-color);
  padding: 0;
  font-size: 0.8rem;
  color: #fff;
}
.signup .inputArea #signupSubmit {
  width: 100%;
  height: 45px;
  background-color: var(--sub-color);
  border-radius: 21px;
  color: #fff;
  font-weight: bold;
  font-family: "Fredoka One", cursive;
  box-shadow: 0px 3px 8px #d2420b;
}

.error {
  color: red;
}

.valid {
  color: green;
}
